<p id="notice"><%= notice %></p>

<h1>Listing Shakes</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Cost</th>
      <th>Calories</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shakes.each do |shake| %>
      <tr>
        <td><%= shake.Name %></td>
        <td><%= shake.Cost %></td>
        <td><%= shake.Calories %></td>
        <td><%= shake.Description %></td>
        <td><%= link_to 'Show', shake %></td>
        <td><%= link_to 'Edit', edit_shake_path(shake) %></td>
        <td><%= link_to 'Destroy', shake, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shake', new_shake_path %>
